worker_processes auto;
daemon off;

error_log stderr warn;

events {
    # For deployment in Kubernetes we should always "use epoll" (most efficient). Optionally you can disable it for local testing.
    use epoll;
    worker_connections 1024;
    multi_accept on;
}


http {
    charset utf-8;
    # Disable access logs, we use k8s ingress to monitor access
    access_log off;

    # Configuration inspired by https://stackoverflow.com/questions/29354142/
    map_hash_bucket_size 256; # see http://nginx.org/en/docs/hash.html
    map $request_uri $reverse_proxy {
        include /etc/nginx/reverse_proxy.map;
    }
    map $request_uri $external_uri {
        include /etc/nginx/redirects.map;
    }

    server {
        listen 80 default_server;

        # Used by Kubernetes health checks
        location /nginx-health {
            default_type application/json;
            return 200 '{"status":"healthy"}';
        }

        # We can't do reverse_proxy in an if statement so we'll use return with 200 response instead
        if ($reverse_proxy) {
            return 200 https://${OLD_PRO_IP_ADDRESS}$request_uri;
        }

        if ($new_uri) {
            return 302 $new_uri;
        }

        # If there's no match we'll try to find the page in the wayback machine
        return 302 https://wayback.archive-it.org/12090/*/https://pro.europeana.eu$request_uri;
    }

}
